<!DOCTYPE html>
<html>
  <head>
    <title>TABLEMÖNGER</title>
    <meta property="og:image" content="http://www.tablemonger.com/images/tablemonger_og.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/34eeaefcbe.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.3/jquery.scrollTo.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>  
    <script src="/js/tablemonger.js"></script>
    <script>
      $(document).ready(() => {
        tablemongerReady();
      });
    </script>
    <meta name="description" content="Random tables for MÖRK BORG"/>
  </head>
  <body class="is-not-patron">
    <div class="content-wrapper">
      <div class="content">
        <div class="header">
          <div class="title">
            TABLEMÖNGER
          </div>
          <div class="menu-bar">
            <div class="menu-item hamburger-helper">
              <i class="fas fa-list" id="toc-show-icon"></i>
              <i class="fas fa-window-close" id="toc-hide-icon"></i>
            </div>
            <div class="menu-item">
              <div class="subtitle">
                <span class='re-roll clickable'>Random</span> Tables for <a href="https://www.morkborg.com">MÖRK BORG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="body-columns">
            <div id="toc">
              {{#each categories as |category|}}
                <div class="toc-item toc-category">
                  <div class="toc-category-name">
                    {{@key}}
                  </div>
                  <div class="category-toggle">
                    <i class="fas fa-chevron-down show-icon"></i>
                    <i class="fas fa-chevron-right hide-icon"></i>
                  </div>
                </div>
                {{#each category as |table|}}
                  <div class="toc-item click-item {{#if isNew}}is-new{{/if}}"
                       title="{{desc}}"
                       data-table-name="{{name}}"
                       data-roll="{{roll}}"
                       data-subtables="{{subtables}}"
                       data-subarticles="{{subarticles}}"
                       data-subplaceholders="{{subplaceholders}}"
                       data-subcount="{{subcount}}">
                    <span class='toc-name'>{{name}}</span>
                  </div>
                {{/each}}
              {{/each}}
            </div>
            <div id="right-content">
              <div id="table-content"></div>
              <div id="landing-copy">
                <div class="mb-logo">
                  <img class="mb-logo" src="/images/CompWith_MORKBORG_horiz.svg"/>
                </div>
                <p>
                  These are random tables created by the <a href="https://discord.com/invite/rKgAKAj">MÖRK BORG Discord</a> community on the <strong>#random-tables</strong> channel.
                </p>
                <p>
                  This site is brought to you by the fine folks over at <a href="https://www.glumdark.com">glumdark.com</a>, purveyors of tables both macabre and mundane.
                </p>
                <p>
                  With content by: 
                </p>
                <p class="namesnamesnames">
                    3pic_dermis
                    Aen-Sedhe
                    AJAX
                    Akuma
                    AlmightyGizzard
                    aMediocreDad
                    AnAdversary
                    Astrolich
                    Bambu
                    BerserkerWolf
                    BloodyHoney
                    blunderis
                    Cadmus
                    CaptainFlex
                    Cibix
                    Cinna
                    Clever
                    CTRO
                    CuriosityMaximus
                    Davier_44
                    dufferton
                    dungeonhavoc
                    Chalkdown
                    ChrisBissette
                    dm_screening
                    elendil
                    Engstrom
                    Everythings
                    FABULA
                    Falrnfods2
                    FatalBagel
                    feb
                    Flintwyrm
                    Fragslag
                    GauchoPower
                    gayzedandconfused
                    Getaro
                    Gorandius
                    Graf
                    GrayTide
                    GregPaynus 
                    GreysonWHY
                    Gustav
                    GwendolTheGoblin
                    Harkenstone
                    HeMightBeGaffy
                    HeckinViv
                    HelicityBöson
                    HitscanningRatBisch
                    illeen
                    IMadeAWizard
                    Inner_Blaze
                    iPwnedMSCS
                    Isaiah
                    Jackimo
                    Jawncee
                    jbfh
                    johnee
                    kagozaiku
                    KevinB.
                    Khordal
                    kooma
                    krakeninyourcoffee
                    LeechLord
                    LivingMistake
                    LordGroan
                    Luke|Limithron
                    ᛗᛖᛈᚺᛁᛊᚠᛖᚾᛊᛏᚨᛚᛁᚷ
                    Maceo13
                    MagnaWongo
                    Makooti
                    Maldo.rxr
                    MarksQuests
                    MärxBorg
                    Matthew
                    mcglintlock
                    McKhiavel
                    MelvillesFist
                    Metzhuotl
                    MÖRKZuckerBORG
                    mv
                    Nemonomicon
                    Nephylym
                    n4c0n
                    Nfikf 
                    Niko
                    Nohr
                    Nyhur
                    Omniczech
                    Oneironaut
                    Owenmcg
                    ordinal
                    PabloDap
                    Petlozki
                    Pass
                    PhoenixBurnout
                    Pearse
                    PeppermintBones
                    Polyducks
                    PoohBearThought
                    RatQueenLenore
                    ReillyQyote
                    Reno
                    RobGoulding
                    RoninRa
                    RoqueRomero
                    RugoseKohn
                    sab
                    SashaDe'ath
                    SageDaBORG
                    Saluman
                    Shamae
                    shawn
                    SKYMALLHOMEVIDEORENTALSERVIC
                    Smamwise
                    srdaine
                    Stoneybeard
                    Strega
                    supermooboo
                    Tani
                    TheLiarfromBeyond
                    Togsee
                    Torvalizer
                    Trasler'sWealth
                    Twitchyfb
                    UndeathMetal
                    vil
                    VooDooClown69
                    zeegots
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="tool-footer">
          <i class="fas fa-arrow-down tool-pointer" id="arrow-down"></i>
          <i class="fas fa-arrow-up tool-pointer" id="arrow-up"></i>
          <i class="fas fa-dice-d20" id="tool-dice"></i>
        </div>
      </div>
      <footer class="footer">        
        TABLEMÖNGER is an independent production by <a href="https://www.glumdark.com">glumdark.com</a> and is not affiliated with Ockult Örtmästare Games or Stockholm Kartell. It is published under the MÖRK BORG Third Party License.
        MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.
      </footer>
    </div>
  </body>
</html>
