<!DOCTYPE html>
<html>
  <head>
    <title>TABLEMÖNGER</title>
    <meta property="og:image" content="http://www.tablemonger.com/images/tablemonger_og.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/34eeaefcbe.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>  
    <script src="/js/tablemonger.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) { 
        tablemongerReady();
      });
    </script>
    <meta name="description" content="Random tables for MÖRK BORG"/>
  </head>
  <body class="is-not-patron">
    <div class="content-wrapper">
      <div class="content">
        <div class="header">
          <div class="title">
            TABLEMÖNGER
          </div>
          <div class="menu-bar">
            <div class="menu-item hamburger-helper">
              <i class="fas fa-list" id="toc-show-icon"></i>
              <i class="fas fa-window-close" id="toc-hide-icon"></i>
            </div>
            <div class="menu-item">
              <div class="subtitle">
                <span class='re-roll clickable'>Random</span> Tables for <a href="https://www.morkborg.com" target="_top">MÖRK BORG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="body-columns">
            <div id="toc">
              {{#each categories as |category|}}
                <div class="toc-item toc-category">
                  <div class="toc-category-name">
                    {{@key}}
                  </div>
                  <div class="category-toggle">
                    <i class="fas fa-chevron-down show-icon"></i>
                    <i class="fas fa-chevron-right hide-icon"></i>
                  </div>
                </div>
                {{#each category as |table|}}
                  <div class="toc-item click-item {{#if isNew}}is-new{{/if}}"
                       data-table-name="{{name}}"
                       data-subtitle="{{subtitle}}"
                       data-roll="{{roll}}">
                    <span class='toc-name'>{{name}}</span>
                  </div>
                {{/each}}
              {{/each}}
            </div>
            <div id="right-content">
              <div id="table-content"></div>
              <div id="landing-copy">
                <div class="mb-logo">
                  <img class="mb-logo" src="/images/CompWith_MORKBORG_horiz.svg"/>
                </div>
                <p>
                  These are random tables created by the <a href="https://discord.com/invite/rKgAKAj">MÖRK BORG Discord</a> community on the <strong>#random-tables</strong> channel.
                </p>
                <p>
                  This site is brought to you by the fine folks over at <a href="https://www.glumdark.com" target="_top">glumdark.com</a>, purveyors of tables both macabre and mundane.
                </p>
                <p>
                  With content by: 
                </p>
                <p class="namesnamesnames">
                    $m1l3s
                    3pic_dermis
                    a jade mask that goes AAAAA
                    a¢ə
                    aavaataar
                    Aen-Sedhe
                    AJAX
                    Akuma
                    AlmightyGizzard
                    aMediocreDad
                    AnAdversary
                    Aota_Xynduer
                    Astrolich
                    Bambu
                    BerserkerWolf
                    BloodyHoney
                    blunderis
                    bogan
                    Bonvivant
                    Cadmus
                    CannibalChris
                    capricornus_rex
                    CaptainFlex
                    cartridge_grey
                    Chalkdown
                    Cibix
                    Cinna
                    Clever
                    CorruptedCaps
                    CTRO
                    CuriosityMaximus
                    data wrangler Smork
                    Davier_44
                    DM_Lockhart
                    Dragoleaf
                    dufferton
                    dungeonhavoc
                    Chalkdown
                    ChrisBissette
                    degustaf
                    dm_screening
                    Drewcifer
                    Eduardo
                    elendil
                    elhijo
                    Engstrom
                    Eric
                    Everythings
                    FABULA
                    Falrnfods2
                    FatalBagel
                    feb
                    Flintwyrm
                    Fragslag
                    GauchoPower
                    gayzedandconfused
                    Getaro
                    ghoek
                    GLORY
                    Gorandius
                    Graf
                    GrayTide
                    GregPaynus 
                    GreysonWHY
                    Gustav
                    GwendolTheGoblin
                    Harkenstone
                    HeMightBeGaffy
                    HeckinViv
                    HelicityBöson
                    HitscanningRatBisch
                    illeen
                    IMadeAWizard
                    inferno2
                    Inner_Blaze
                    iPwnedMSCS
                    Isaiah
                    IsRlyDönut
                    Jackimo
                    Jacques
                    Jawncee
                    jbfh
                    Jimble
                    johnee
                    kagozaiku
                    KevinB.
                    Khordal
                    kooma
                    krakeninyourcoffee
                    Lavender
                    LeechLord
                    LivingMistake
                    LordGroan
                    Luke|Limithron
                    ᛗᛖᛈᚺᛁᛊᚠᛖᚾᛊᛏᚨᛚᛁᚷ
                    Maceo13
                    Mag
                    MagnaWongo
                    Makooti
                    Maldo.rxr
                    MarksQuests
                    MärxBorg
                    Matthew
                    mcglintlock
                    McKhiavel
                    meat glider
                    MelvillesFist
                    Metzhuotl
                    Mike S
                    Modest Orange
                    MÖRKZuckerBORG
                    Mr. Vulcanator
                    mv
                    n333rd
                    n4c0n
                    nacnudllah
                    Nemonomicon
                    Nephylym
                    NerdFam
                    Nfikf 
                    Niko
                    Nohr
                    Not-Taylor-Swift
                    Nyctalus
                    Nyhur
                    Old School Jelly
                    Omniczech
                    Oneironaut
                    Oneiros
                    ordinal
                    Owenmcg
                    PabloDap
                    Pass
                    Pearse
                    PeppermintBones
                    Petlozki
                    PhoenixBurnout
                    Polyducks
                    PoohBearThought
                    RADawesomeface
                    RaptorShadow
                    RatQueenLenore
                    ReillyQyote
                    Reno
                    RobGoulding
                    RugoseKohn
                    RoninRa
                    RoqueRomero
                    sab
                    SageDaBORG
                    Saluman
                    SashaDe'ath
                    seedling games
                    Shamae
                    shawn
                    SkullptingChin
                    SKYMALLHOMEVIDEORENTALSERVIC
                    Smamwise
                    srdaine
                    standard E-God
                    Stoneybeard
                    Strega
                    supermooboo
                    Tani
                    TheDrsBowtie
                    TheLiarfromBeyond
                    Tjocken
                    Togsee
                    Torvalizer
                    Trasler'sWealth
                    Twitchyfb
                    Ugly
                    UndeathMetal
                    UnexcpectedGalgenbeckInquisition
                    vil
                    VooDooClown69
                    wroughtwithrust
                    Wzm
                    zeegots
                    Zoraiz
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="tool-footer">
          <i class="fas fa-arrow-down tool-pointer" id="arrow-down"></i>
          <i class="fas fa-arrow-up tool-pointer" id="arrow-up"></i>
          <i class="fas fa-dice-d20" id="tool-dice"></i>
        </div>
      </div>
      <footer class="footer">        
        TABLEMÖNGER is an independent production by <a href="https://www.glumdark.com" target="_top">glumdark.com</a> (mcglintlock and ctro) and is not affiliated with Ockult Örtmästare Games or Stockholm Kartell. It is published under the MÖRK BORG Third Party License.
        MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.
      </footer>
    </div>
  </body>
</html>
